.tableCenter {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
 
 .clocksTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /*width: auto;*/
  }

  .clocksTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  .clocksTable tr:hover {background-color: rgb(168, 221, 252);}

  .clocksTable td {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
  }
  
  /* #clocksTableId tr:nth-child(even){background-color: #f2f2f2;} */
  
 
  


